<% layout('layout_html') -%>
	<div class="all-poll-display">
		<% if( pollRecordList.length > 0 ) { %>
			<% for( var i = 0 ; i < pollRecordList.length ; i++ ) { %>
				<div id="poll-<%= pollRecordList[i].id %>" class="single-poll-preview table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><b>Title</b></td>
								<td>
									<%= pollRecordList[i].title %>
								</td>
							</tr>
							<tr>
								<td><b>Owner</b></td>
								<td>
									<%= pollRecordList[i].owner %>
								</td>
							</tr>
							<tr>
								<td><b>Price</b></td>
								<td>
									<%= pollRecordList[i].price %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="modal-<%= pollRecordList[i].id %>" class="table-responsive" style='display: none;'>
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><b>Status</b></td>
								<td>
									<% if( pollRecordList[i].ifOpen ) { %> Open
										<% } else { %> Closed
											<% } %>
								</td>
							</tr>
							<tr>
								<td><b>Title</b></td>
								<td>
									<%= pollRecordList[i].title %>
								</td>
							</tr>
							<tr>
								<td><b>ID</b></td>
								<td>
									<%= pollRecordList[i].id %>
								</td>
							</tr>
							<tr>
								<td><b>Located at address</b></td>
								<td>
									<%= pollRecordList[i].address %>
								</td>
							</tr>
							<tr>
								<td><b>Owner</b></td>
								<td>
									<%= pollRecordList[i].owner %>
								</td>
							</tr>
							<tr>
								<td><b>Reward</b></td>
								<td>
									<%= pollRecordList[i].price %> ether
								</td>
							</tr>
							<tr>
								<td><b>Number of quiestion</b></td>
								<td>
									<%= pollRecordList[i].numberOfQuestion %>
								</td>
							</tr>
							<tr>
								<td colspan="2"><a href="/poll?id=<%= pollRecordList[i].id %>"><button>View Poll</button></a></td>
							</tr>
						</tbody>
					</table>
					<a href='#' rel='modal:close'></a>
				</div>
				<% } %>
					<% } else { %>
						<p>There are currently no on-going polls.</p>
						<% } %>
	</div>
	<div>
		<button id="newPoll-button">Create New Poll</button>
	</div>
	<script>
		$(document).ready(function () {
			$('#newPoll-button').click(function () {
				location.href = "/newPoll";
			});
			$('.single-poll-preview').click(function (e) {
				var modalID = '#modal-' + $(this).attr('id').substr(5);
				$(modalID).modal();
			});

		});
	</script>