<% layout('layout_html') -%>
<div class="poll-layout" style="width: 70%; margin-top: 20px; margin-left: 20px; float: left; overflow: scroll;">
    <% if( pollRecord != undefined ) { %>
		<input type="hidden" id="pollIDholder" value="<%= pollRecord.id %>">
		<input type="hidden" id="pollAddressholder" value="<%= pollRecord.address %>">
        <span style="display: inline-block; font-size: 30px; line-height: 50px">
			Status: <% if( pollRecord.ifOpen ) { %> Open <% } else { %> Closed <% } %><br>
			Title: <%= pollRecord.title %><br>
			ID: <%= pollRecord.id %><br>
			Located at address: <%= pollRecord.address %><br>
			Owner: <%= pollRecord.owner %><br>
			Need to encrypt: <%= pollRecord.ifEncrypt %>
			<% if( pollRecord.ifEncrypt ) { %>, Encryption Key: <%= pollRecord.encryptionKey %><br><% } else { %><br><% } %>
			Reward: <%= pollRecord.price %> ether<br>
			Payment Lock Time: <%= pollRecord.paymentLockTime %><br>
			Number of quiestion: <%= pollRecord.numberOfQuestion %>
        </span>
		<hr>
		Which question to answer? <select id="questionSelect" name="questionNumber">
			<option selected disabled></option>
		<% for(var j = 0 ; j < pollRecord.numberOfQuestion ; j++ ) { %>
			<option value="<%= j+1 %>"><%= j+1 %></option>
		<% } %>
		</select><br>
		<div id="question-div" style="display: none;">
			Question type: <div style="display: inline-block;" id="questionType"></div><br>
			Question: <div style="display: inline-block;" id="questionBody"></div><br>
			Your answer: <div style="display: inline-block;" id="answerToQuestion"></div><br>
			<button onclick="newAnswer()">Answer</button>
		</div>
		<!--<input type="button" value="Create" onclick='newPoll(this.form)'>-->
    <% } else { %>
        Poll not found
    <% } %>
</div>
<div class="poll-layout" style="width: 25%; margin-top: 20px; margin-left: 20px; float: left; overflow: scroll; border-left: 2px solid grey; padding-left: 10px;">
	Choose an interaction:<br>
	<select id="interactionSelect" name="interaction">
		<option selected disabled></option>
		<option value="getUserStatus">Get User Status</option>
		<option value="getUserKey">Get User Encryption Key</option>
		<option value="getAnswer">Get User Answer</option>
		<option value="getRevealedAnswer">Get Revealed User Answer</option>
		<option disabled>-------------------------</option>
		<option value="addEncryptedUserKey">User Add Encryption Key</option>
		<option value="withdraw">User Withdraw</option>
		<option disabled>-------------------------</option>
		<option value="addQuestion">Owner Add Question</option>
		<option value="revealAnswer">Owner Reveal Answer</option>
		<option value="openPoll">Owner Open Poll</option>
		<option value="shutDownPoll">Owner Shut Down Poll</option>
	</select><hr>
	<div id="interaciton-div">
	</div>
</div>