<% layout('layout_html') -%>
<% var questionNumber; var address; if( pollRecord !== undefined ) { %>
    <% questionNumber = pollRecord.numberOfQuestion; %>
    <% address = pollRecord.address; %>
<% } else { %>
    <% questionNumber = 0; %>
    <% pollAddress = '0x0'; %>
<% } %>
<div class="single-poll-display">
    <% if( pollRecord != undefined ) { %>
		<input type="hidden" id="pollIDholder" value="<%= pollRecord.id %>">
		<input type="hidden" id="pollAddressholder" value="<%= pollRecord.address %>">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>Status</b></td>
                    <td>
                        <% if( pollRecord.ifOpen ) { %> Open
                            <% } else { %> Closed
                                <% } %>
                    </td>
                </tr>
                <tr>
                    <td><b>Title</b></td>
                    <td>
                        <%= pollRecord.title %>
                    </td>
                </tr>
                <tr>
                    <td><b>ID</b></td>
                    <td>
                        <%= pollRecord.id %>
                    </td>
                </tr>
                <tr>
                    <td><b>Located at address</b></td>
                    <td>
                        <%= pollRecord.address %>
                    </td>
                </tr>
                <tr>
                    <td><b>Owner</b></td>
                    <td>
                        <%= pollRecord.owner %>
                    </td>
                </tr>
                <tr>
                    <td><b>Need to encrypt</b></td>
                    <td>
                        <%= pollRecord.ifEncrypt %>
                    </td>
                </tr>
                <tr>
                    <td><b>Reward</b></td>
                    <td>
                        <%= pollRecord.price %> ether
                    </td>
                </tr>
                <% if( pollRecord.ifEncrypt ) { %>
                    <tr>
                        <td><b>Encryption Key</b></td>
                        <td><%= pollRecord.encryptionKey %>
                        </td>
                    </tr>
                <% } %>
                <tr>
                    <td><b>Payment Lock Time</b></td>
                    <td>
                            <%= pollRecord.paymentLockTime %>
                    </td>
                </tr>
                <tr>
                    <td><b>Number of quiestion</b></td>
                    <td>
                        <%= pollRecord.numberOfQuestion %>
                    </td>
                </tr>
            </tbody>
        </table>
		<hr>
		<div>
            Which question to answer?
            <select id="questionSelect" name="questionNumber">
                <option selected disabled></option>
                <% for(var j = 0 ; j < pollRecord.numberOfQuestion ; j++ ) { %>
                    <option value="<%= j+1 %>"><%= j+1 %></option>
                <% } %>
            </select><br>
            <div id="question-div" style="display: none;">
                <span style="display: inline-block; height: 20px; width: 100px">type:</span> <div style="display: inline-block;" id="questionType"></div><br>
                <span style="display: inline-block; height: 20px; width: 100px">Question:</span> <div style="display: inline-block;" id="questionBody"></div><br>
                <span style="display: inline-block; height: 20px; width: 100px">Your answer:</span> <div style="display: inline-block;" id="answerToQuestion"></div><br>
                <br><button onclick="newAnswer()">Answer</button>
            </div>
        </div>
    <% } else { %>
        Poll not found
    <% } %>
</div>
<div class="interaction-menu">
	Choose an interaction:<br>
	<select id="interactionSelect" name="interaction">
		<option selected disabled></option>
		<option value="getUserStatus">Get User Status</option>
		<option value="getUserKey">Get User Encryption Key</option>
		<option value="getAnswer">Get User Answer</option>
		<option value="getRevealedAnswer">Get Revealed User Answer</option>
		<option disabled>-------------------------</option>
		<option value="addEncryptedUserKey">User Add Encryption Key</option>
		<option value="withdraw">User Withdraw</option>
		<option disabled>-------------------------</option>
		<option value="addQuestion">Owner Add Question</option>
		<option value="revealAnswer">Owner Reveal Answer</option>
		<option value="openPoll">Owner Open Poll</option>
		<option value="shutDownPoll">Owner Shut Down Poll</option>
	</select><hr>
	<div id="interaction-display">
	</div>
</div>
<script>

    function newAnswer() {
        var ans;
        if($('#questionType').html() == 'single') {
            ans = $('#formAnswer').find('input[name="answer"]:checked').val();
        }
        else if($('#questionType').html() == 'multi') {
            ans = [];
            var multi_ans = $('#formAnswer').find('input[name="answer"]:checked');
            for(var i=0; i < multi_ans.length ; i++) {
                ans.push(multi_ans[i].value);
            }
            ans = JSON.stringify(ans);
        }
        else if($('#questionType').html() == 'short') {
            ans = $('#formAnswer').find('input[name="answer"]').val();
        }

        $.ajax({
            type:   'POST',
            url:    '/newAnswer',
            data:   { type: $('#questionType').html(), answer: ans},
            success: function (res) {
                var popUpMessege = $('#popUpMessege');
                popUpMessege.text(res);
                popUpMessege.fadeIn(1000);
                
                $('#answerToQuestion').html(res.split(" ")[3]);
                
                setTimeout( function() {
                    $('#popUpMessege').fadeOut(2000);
                }, 1000);
            }
        });
    }

    function newInteraction(thisForm) {
        var formNewPoll = $(thisForm);
 
        $.ajax({
            type:   formNewPoll.attr('method'),
            url:    formNewPoll.attr('action'),
            data:   formNewPoll.serialize(),
            success: function (res) {
                var popUpMessege = $('#popUpMessege');
                popUpMessege.text(res);
                popUpMessege.fadeIn(1000);

                setTimeout( function() {
                    $('#popUpMessege').fadeOut(2000);
                }, 1000);
            }
        });
    }

    $(document).ready(function(){
        $('#questionSelect').change(function(){
            $.ajax({
                type:   'GET',
                url:    '/question',
                data:   { pollID: $('#pollIDholder').val(), pollAddress: $('#pollAddressholder').val(), questionNumber: $(this).val() },
                success: function (question) {
                    $('#question-div').show();
                    $('#questionType').html(question.type);
                    $('#questionBody').html(question.body);
                    var answerHTML = '<form id="formAnswer">';
                    if( question.type == 'single' ) {
                        for( var i = 0 ; i < question.numberOfAnswer ; i++ ) {
                            answerHTML += '<span><input type="radio" name="answer" value="' + (i + 1) + '">&nbsp;&nbsp;' + question.answer[i] + '</span>&nbsp;&nbsp;';
                        }
                        answerHTML += "</form>";
                        $('#answerToQuestion').html(answerHTML);
                    }
                    else if( question.type == 'multi' ) {
                        for( var i = 0 ; i < question.numberOfAnswer ; i++ ) {
                            answerHTML += '<span><input type="checkbox" name="answer" value="' + (i + 1) + '">&nbsp;&nbsp;' + question.answer[i] + '</span>&nbsp;&nbsp;';
                        }
                        answerHTML += "</form>";
                        $('#answerToQuestion').html(answerHTML);
                    }
                    else if( question.type == 'short' ) {
                        answerHTML += '<input type="text" name="answer"> </form>';
                        $('#answerToQuestion').html(answerHTML);
                    }
                }
            });
        });
        $('#interactionSelect').change(function(){
            var questionNumber = <%= questionNumber %>;
            var interactionHTML = '<form id="formInteraction" action="/newInteraction" method="POST" accept-charset="utf-8">' +
                                    '<input type="hidden" name="address" value="<%= pollRecord.address %>">' +
                                    '<input type="hidden" name="action" value="' + $(this).val() + '">';
            switch ($(this).val()) {
                case 'getUserStatus':
                case 'getUserKey':
                    interactionHTML += '<span style="display: inline-block; height: 30px;">User: <input type="text" name="user"></span>'
                    break;
                case 'getAnswer':
                case 'getRevealedAnswer':
                    interactionHTML += '<span style="display: inline-block; height: 30px;">User: <input type="text" name="user"></span><br>'
                                        + '<span style="display: inline-block; height: 20px;">Answer Number: <input type="number" name="numberAnswer" min="1" max="' + questionNumber + '"></sapn>'
                    break;
                case 'addEncryptedUserKey':
                    interactionHTML += '<span style="display: inline-block; height: 30px;">Encryption Key: <input type="text" name="encryptedUserKey"></span>'
                    break;
                case 'withdraw':
                    break;
                case 'addQuestion':
                    interactionHTML += '<span style="display: inline-block; height: 30px;">Question Number: ' + (questionNumber+1) + '<input type="hidden" name="questionNumber" value="'+ (questionNumber+1) + '"></span><br>' 
                                        + '<span style="display: inline-block; height: 30px;">Question Type:&nbsp;&nbsp;<input type="radio" name="questionType" value="single">&nbsp;Single&nbsp;&nbsp;'
                                        + '<input type="radio" name="questionType" value="multi">&nbsp;Multi&nbsp;&nbsp;'
                                        + '<input type="radio" name="questionType" value="short">&nbsp;Short</span><br>'
                                        + '<span style="display: inline-block; height: 30px;">Question: <input type="text" name="question"></span><br>'
                                        + '<span style="display: inline-block; height: 30px;">Number of Options: <input type="number" name="numberOfOptions" min="1"></span><br>'
                                        + '<span style="display: inline-block; height: 60px;">Options(seperated by comma): <input type="text" name="options"></span>';
                    break;
                case 'revealAnswer':
                    interactionHTML += '<span style="display: inline-block; height: 30px;">User: <input type="text" name="user"></span><br>'
                                        + '<span style="display: inline-block; height: 30px;">Question Number: <input type="number" name="questionNumber" min="1" max="' + questionNumber + '"></span><br>'
                                        + '<span style="display: inline-block; height: 30px;">Short Answer: <input type="text" name="shortAnswer"></span><br>'
                                        + '<span style="display: inline-block; height: 60px;">Single/Multi Answer(seperated by comma): <input type="text" name="choices"></span>';
                    break;
                case 'openPoll':
                case 'shutDownPoll':
                    break;
                default:
                    break;
            }
            interactionHTML += '<br><input type="button" value="Submit" onclick="newInteraction(this.form)"></form>'
            $('#interaction-display').html(interactionHTML);
        });
    });
</script>