<% layout('layout_html') -%>
<h1><a href="/">Simple Record Application</a></h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Address</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Birth Date</th>
        <th>Medical Number</th>
        <th>ID</th>
        <th>Record</th>
        <th>Status</th>
        <th>Content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <form action="/modify" method="post">
    <% for( var i = 0 ; i < patientDataList.length ; i++ ) { %>
      <tr>
        <td><input type="text" name="addr" size="30" value="<%= patientDataList[i].addr %>" readonly></td>
        <td><input type="text" name="name" size="10" value="<%= patientDataList[i].name %>"></td>
        <td><input type="text" name="sex" size="2" value="<%= patientDataList[i].sex %>"></td>
        <td><input type="number" name="age" min="1" size="2" value="<%= patientDataList[i].age %>"></td>
        <td><input type="date" name="bdate" size="15" value="<%= patientDataList[i].bdate %>"></td>
        <td><input type="text" name="mednumber" size="7" value="<%= patientDataList[i].mednumber %>"></td>
        <td><input type="text" name="id" size="5" value="<%= patientDataList[i].id %>"></td>
        <td><input type="number" name="record" min="1" size="3" value="<%= patientDataList[i].record %>"></td>
        <td><input type="text" name="status" size="10" value="<%= patientDataList[i].status %>"></td>
        <td><input type="text" name="content" size="20" value="<%= patientDataList[i].content %>"></td>
        <input type="hidden" name="oldname" size="10" value="<%= patientDataList[i].name %>">
        <input type="hidden" name="oldsex" size="2" value="<%= patientDataList[i].sex %>">
        <input type="hidden" name="oldage" min="1" size="2" value="<%= patientDataList[i].age %>">
        <input type="hidden" name="oldbdate" size="15" value="<%= patientDataList[i].bdate %>">
        <input type="hidden" name="oldmednumber" size="7" value="<%= patientDataList[i].mednumber %>">
        <input type="hidden" name="oldid" size="5" value="<%= patientDataList[i].id %>">
        <input type="hidden" name="oldrecord" min="1" size="3" value="<%= patientDataList[i].record %>">
        <input type="hidden" name="oldstatus" size="10" value="<%= patientDataList[i].status %>">
        <input type="hidden" name="oldcontent" size="20" value="<%= patientDataList[i].content %>">
        <td><input type="submit" value="Modify" class="btn btn-primary"></td>
      </tr>
      </form>
    <% } %>
    </tbody>
  </table>
</div>
<% if(debugMsg == "Contract not yet deployed!") { %>
    <a href="/deploy" class="btn btn-primary">Deploy</a>
<% } else { %>
  <a href="/newRecord" class="btn btn-primary">New Record</a>
<% } %>
<br><h3><font color="red"><%= debugMsg %></font></h3>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    // web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    // abi = JSON.parse('[{"constant":false,"inputs":[{"name":"candidate","type":"bytes32"}],"name":"totalVotesFor","outputs":[{"name":"","type":"uint8"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"candidate","type":"bytes32"}],"name":"validCandidate","outputs":[{"name":"","type":"bool"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"bytes32"}],"name":"votesReceived","outputs":[{"name":"","type":"uint8"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"x","type":"bytes32"}],"name":"bytes32ToString","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],"name":"candidateList","outputs":[{"name":"","type":"bytes32"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"candidate","type":"bytes32"}],"name":"voteForCandidate","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"contractOwner","outputs":[{"name":"","type":"address"}],"payable":false,"type":"function"},{"inputs":[{"name":"candidateNames","type":"bytes32[]"}],"payable":false,"type":"constructor"}]')
    // VotingContract = web3.eth.contract(abi);
    // // In your nodejs console, execute contractInstance.address to get the address at which the contract is deployed and change the line below to use your deployed address
    // contractInstance = VotingContract.at('0x2a9c1d265d06d47e8f7b00ffa987c9185aecf672');
    // candidates = {"Rama": "candidate-1", "Nick": "candidate-2", "Jose": "candidate-3"}

    function vote(candidateNumber) {
        $.ajax({
            type:   'POST',
            url:    '/vote',
            data:   {"candidateNumber": candidateNumber},
            success: function (res) {
                console.log(res);
                $("#candidate-" + candidateNumber).html(res);
            }
        });
    }

    // $(document).ready(function() {
    // candidateNames = Object.keys(candidates);
    // for (var i = 0; i < candidateNames.length; i++) {
    //     let name = candidateNames[i];
    //     let val = contractInstance.totalVotesFor.call(name).toString()
    //     $("#" + candidates[name]).html(val);
    // }
    // });
</script>