<% layout('layout_html') -%>
	<div style="width: 100%;">
		<div style="float: left;">
			<h1>
				<a href="/">Drug Supply Chain System Demonstration</a>
			</h1>
		</div>
		<div style="float: right; margin-top: 30px; margin-right: 10px;">
			<% if(isAuthorized) { %>
					<a href="/logout" class="btn btn-primary" style="background-color: white; color: black;">Log Out As User</a>
				<% } else { %>
					<a href="/login" class="btn btn-primary" style="background-color: white; color: black;">Log In As Admin</a>
			<% } %>
		</div>
	</div>
	<div class="table-responsive" style="clear: both;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Drug Name</th>
					<% if(upOrDownStream == "up") { %>
						<th>Upstream Drug Name </th>
					<% } else { %>
						<th>Downstream Drug Name</th>
					<% } %>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<form action="/addDrugStream" method="post">
					<input type="hidden" name="owner" value="<%= owner %>">
					<input type="hidden" name="drugName" value="<%= drugName %>">
					<input type="hidden" name="stream" value="<%= upOrDownStream %>">
					<td>
						<%= drugName %>
					</td>
					<td>
						<input type="text" name="otherDrugName" size="10">
					</td>
					<td>
						<input type="number" name="amount" min="1" size="10">
					</td>
					<td>
						<input type="submit" value="Submit">
					</td>
				</form>
			</tbody>
		</table>
	</div>
	<% if(debugMsg == "Contract not yet deployed!") { %>
		<a href="/deploy" class="btn btn-primary">Deploy</a>
	<% } else { %>
		<div>
			<form action="/getDrugByName" method="GET">
				Drug Name:
				<input type="text" name="name">
				<input type="submit" value="Search" class="btn btn-primary">
			</form>
		</div>
	<% } %>
	<br>
	<h3>
		<font color="red">
			<%= debugMsg %>
		</font>
	</h3>
